# Ensure apps can depend on published packages even if a workspace package exists
# (requested in https://github.com/rybosome/tspice/issues/224)
link-workspace-packages=false
prefer-workspace-packages=false
